/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основные стили */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
}

/* Контейнер */
.container {
  text-align: center;
  margin-top: 120px; /* <-- поднимаем блок наверх */
}

/* Синий круг */
.logo-wrapper {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 10px solid #000;
  margin: 0 auto 25px;
  overflow: hidden;
  background: #000;
  box-sizing: border-box;
}

.logo-video {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* ключ */
  object-position: center;
  display: block;
}
/* Картинка внутри */
.logo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;    /* логотип НЕ режется */
  pointer-events: none;
}

/* Заголовок */
h1 {
  color: #000000;
  font-size: 26px;
  margin-bottom: 25px;
}

/* Кнопка */
.btn {
  display: inline-block;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #515253;
}

/* Мобильная адаптация */
@media (max-width: 480px) {
  .container {
    margin-top: 80px; /* немного ближе к верхнему краю на телефоне */
  }

  .logo-wrapper {
    width: 200px;
    height: 200px;
    border-width: 8px;
  }

  .logo-video{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
  }

  /* .logo {
    width: 95%;
  } */

  h1 {
    font-size: 20px;
  }

  .btn {
    padding: 10px 25px;
    font-size: 15px;
  }
}
